[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.1.1"
pyarrow = "*"
pandas = "==1.4.2"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
